[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
p2pnetwork = "*"
pandas = "*"
psutil = "*"
pycryptodome = "*"
pymongo = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.10.4"
